
h1.hero-title {
  color: #4B0082;
  font-family: monospace;
  font-weight: bold;
}

h2.point-title{
  color:  #4B0082;
  font-family: monospace;
}
p.point-description{
  color: #696969;
  font-family: monospace;
}

body{
  background-color: lightgrey;
}

.hero-title{
  background-image: url(/images/blurred_backgrounds/blur_bg_3.jpg);
}
